In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [7]:
df=pd.read_pickle('/Users/abhishek/Vanderbilt/ScopeLabDataSets - General/statresp/data_main_4h_tdot/cleaned/after new data from tdot/incident/incident_xdsegid.pkl')

In [8]:
df.head(1)

,log_mle,county_incident,route,gps_coordinate_latitude,gps_coordinate_longitude,type_of_crash,total_killed,total_injured,total_incapcitating_injuries,total_other_injuries,total_vehicles,hazmat_involved,hit_and_run,id_original,on_highway_type,rail_crossing_identifier,relation_to_first_junction,relation_to_first_rdway,school_bus_related,traffic_land_private_way,updated_by,updated_on,urban_or_rural,special_case,case_number,crash_location,construction_zone_location,intersection_type,first_harmful_event,manner_of_first_collision,weather_conditions,light_conditions,locate_type,time_local,time,time_utc,year,month,day,day_of_week,weekend_or_not,hour,window,geometry,geometry_string,incident_id,dist_to_seg,xdsegid,grouped_xdsegid,frc
0,15.538,shelby,I0240,35.101212,-89.870687,Prop Damage (over),0,1,0,0,1,Unknown,No,79I0240001,--,--,NON_JUNCTION,Roadside -- Left,No,Trafficway - Open,TITAN IMPORT,14-SEP-17,--,0-NONE,300344248,Along Roadway,--,--,Concrete Traffic Barrier,NO COLLISION W/ VEHICLE,Clear,Dark-Lighted,Automatic,2017-04-01 00:10:00,2017-04-01 00:10:00-05:00,2017-04-01 05:10:00,2017,4,1,5,1,0,0,POINT (-89.87069 35.10121),POINT (-89.870687 35.101212),861229,0.692461,461626016.0,3010405.0,0.0

In [11]:
import plotly.express as px

In [15]:
df2=pd.read_parquet('app/data/nfd/nfdincidents_till_July2021.parquet',engine='pyarrow')

In [16]:
df2.dtypes

incidentNumber             object
latitude                  float64
longitude                 float64
emdCardNumber              object
alarmDateTime              object
arrivalDateTime            object
weather                    object
alarm_datetime     datetime64[ns]
alarm_date         datetime64[ns]
month                     float64
alarm_year                float64
responsetime              float64
dtype: object

In [20]:
df=df.drop(['geometry'],axis=1)

In [39]:
df=df.rename(columns={"case_number":"incidentNumber","gps_coordinate_latitude":"latitude","gps_coordinate_longitude":"longitude","time_local":"alarm_datetime"})

In [47]:
df['month']=df.alarm_datetime.dt.month
df['alarm_year']=df.alarm_datetime.dt.year
df['dayofweek']=df.alarm_datetime.dt.dayofweek
df['month-year']=df['alarm_datetime'].dt.strftime('%b %Y')
df['time']=df['alarm_datetime'].dt.hour*3600+df['alarm_datetime'].dt.minute*60+df['alarm_datetime'].dt.second
df['alarm_date']=df['alarm_datetime'].dt.to_pydatetime()

In [54]:
df['month-year']

0         Apr 2017
1         Apr 2017
2         Apr 2017
3         Apr 2017
4         Apr 2017
            ...
819838    May 2021
819839    May 2021
819840    May 2021
819841    May 2021
819842    May 2021
Name: month-year, Length: 819843, dtype: object

In [55]:
df.to_parquet('app/tdot_incidents.parquet')

In [52]:
df.county_incident

0             shelby
1             shelby
2             shelby
3               dyer
4            decatur
             ...
819838        warren
819839        shelby
819840    montgomery
819841         roane
819842     henderson
Name: county_incident, Length: 819843, dtype: object