In [16]:
import pandas as pd
import pyarrow.parquet as pq

In [2]:
from dask import dataframe as dd

In [92]:
df = dd.read_parquet('incidents_july_2020.parquet')

In [93]:
df["alarm_datetime"] = df["alarm_datetime"].map_partitions(pd.to_datetime,format='%Y-%m-%d %H:%M:%S.%f',meta = ('datetime64[ns]'))

In [94]:
df["alarm_date"] = df["alarm_date"].map_partitions(pd.to_datetime,format='%Y-%m-%d',meta = ('datetime64[ns]'))

In [95]:
df["month"]=df["alarm_datetime"].dt.month

In [96]:
df["dayofweek"]=df["alarm_datetime"].dt.dayofweek

In [97]:
df[["alarm_datetime","dayofweek"]].head(100)

            alarm_datetime  dayofweek
0  2018-12-31 21:47:20.840          0
1  2018-12-31 21:59:06.560          0
2  2018-12-31 22:13:40.527          0
3  2018-12-31 22:13:59.627          0
4  2018-12-31 22:31:49.277          0
..                     ...        ...
95 2019-01-01 17:50:29.677          1
96 2019-01-01 17:52:04.237          1
97 2019-01-01 17:53:55.580          1
98 2019-01-01 18:04:41.897          1
99 2019-01-01 18:12:03.443          1

[100 rows x 2 columns]

In [59]:
dd.to_parquet(df,'incidents_july_2020_2.parquet')

In [60]:
df.alarm_date.min().compute()

Timestamp('2018-12-31 00:00:00')

In [98]:
df['time']=df['alarm_datetime'].dt.hour*3600+df['alarm_datetime'].dt.minute*60+df['alarm_datetime'].dt.second

In [80]:
df["time_s"] = df["time"].map_partitions(pd.to_datetime,format='%H:%M:%S',meta = ('datetime64[ns]'))

In [99]:
df['time'].head(1)

0    78440
Name: time, dtype: int64

In [65]:
df.dtypes

_id                             object
incidentNumber                  object
latitude                       float64
longitude                      float64
emdCardNumber                   object
alarmDateTime                   object
arrivalDateTime                 object
weather                         object
location.type                   object
location.coordinates            object
respondingVehicles              object
fireZone                        object
alarm_datetime          datetime64[ns]
alarm_date              datetime64[ns]
alarm_time                      object
alarm_year                       int64
responsetime                   float64
month                            int64
dayofweek                        int64
time                            object
time_s                  datetime64[ns]
dtype: object

In [22]:
df['alarm_datetime'].head(4)

0    2018-12-31 21:47:20.840
1    2018-12-31 21:59:06.560
2    2018-12-31 22:13:40.527
3    2018-12-31 22:13:59.627
Name: alarm_datetime, dtype: object

In [7]:
import pickle
import _pickle as cPickle
import pandas as pd

In [8]:
data = cPickle.load('geo_out_july_2020_central_time')

TypeError: file must have 'read' and 'readline' attributes

In [9]:
import bz2
import pickle
import _pickle as cPickle
import pandas as pd

# Pickle a file and then compress it into a file with extension 
def compressed_pickle(title, data):
 with bz2.BZ2File(title + '.pbz2', 'w') as f: 
 	cPickle.dump(data, f)


# Load any compressed pickle file
def decompress_pickle(file):
 data = bz2.BZ2File(file, 'rb')
 data = cPickle.load(data)
 return data

In [10]:
data=decompress_pickle('geo_out_july_2020_central_time.pbz2')

TypeError: __cinit__() takes at least 2 positional arguments (0 given)

In [13]:
data=pd.read_pickle('geo_out_july_2020_central_time')

In [19]:
data['alarm_datetime'].head(4)

0   2018-12-31 21:47:20.840
1   2018-12-31 21:59:06.560
2   2018-12-31 22:13:40.527
3   2018-12-31 22:13:59.627
Name: alarm_datetime, dtype: datetime64[ns]

In [26]:
data.alarm_date

0         2018-12-31
1         2018-12-31
2         2018-12-31
3         2018-12-31
4         2018-12-31
             ...
173712    2020-06-16
173713    2020-06-16
173714    2020-06-20
173715    2020-06-20
173716    2020-06-20
Name: alarm_date, Length: 173717, dtype: object

In [25]:
df.dtypes

_id                             object
incidentNumber                  object
latitude                       float64
longitude                      float64
emdCardNumber                   object
alarmDateTime                   object
arrivalDateTime                 object
weather                         object
location.type                   object
location.coordinates            object
respondingVehicles              object
fireZone                        object
alarm_datetime                  object
alarm_date                      object
alarm_time                      object
alarm_year                       int64
responsetime                   float64
alarm_datetime2         datetime64[ns]
dtype: object

In [34]:
data.dtypes

_id                             object
incidentNumber                  object
latitude                       float64
longitude                      float64
emdCardNumber                   object
alarmDateTime                   object
arrivalDateTime                 object
weather                         object
location.type                   object
location.coordinates            object
respondingVehicles              object
fireZone                        object
alarm_datetime          datetime64[ns]
alarm_date                      object
alarm_time                      object
alarm_year                       int64
responsetime                   float64
month                            int64
dayofweek                        int64
dayofweekname                   object
severity                         int64
dtype: object

In [45]:
data[["alarm_datetime","dayofweek","dayofweekname"]].head(100)

            alarm_datetime  dayofweek dayofweekname
0  2018-12-31 21:47:20.840          0        Monday
1  2018-12-31 21:59:06.560          0        Monday
2  2018-12-31 22:13:40.527          0        Monday
3  2018-12-31 22:13:59.627          0        Monday
4  2018-12-31 22:31:49.277          0        Monday
..                     ...        ...           ...
95 2019-01-01 17:50:29.677          1       Tuesday
96 2019-01-01 17:52:04.237          1       Tuesday
97 2019-01-01 17:53:55.580          1       Tuesday
98 2019-01-01 18:04:41.897          1       Tuesday
99 2019-01-01 18:12:03.443          1       Tuesday

[100 rows x 3 columns]